.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: space-around;
    width: 300px;
    list-style-type: none;
}

.footer svg{
    font-size: 2.5rem;
}

.footer img{
width: 200px;
}

.tmdb_footer p{
    margin-bottom: 0.7rem;
}

.thiago{
    margin-bottom: 2rem;
}

.thiago span{
    color: #f7d354;
}